sincronizacion-obsidiane/vault/n8n_obsidian_workflow_alineado.json
{
  "name": "Auto-Ingesta Obsidian a Organismo (Alineado)",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/vault/50_Entrada",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "ignore": ".*",
          "depth": 1
        }
      },
      "id": "watch-obsidian-folder",
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}"
      },
      "id": "read-markdown-file",
      "name": "Read Markdown File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "={{ $binary.data.toText() }}"
            },
            {
              "name": "contexto",
              "value": "={{ $json.path.split('/').pop() }}"
            },
            {
              "name": "ruta_original",
              "value": "={{ $json.path }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-payload",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://159.203.164.103:8000/refinar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "texto",
              "value": "={{ $json.texto }}"
            },
            {
              "name": "contexto",
              "value": "={{ $json.contexto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-to-lightrag",
      "name": "Send to LightRAG (Graphiti)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ],
      "onError": "continueErrorOutput",
      "settings": {
        "retryOnFail": true,
        "maxRetries": 3,
        "waitBetweenRetries": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://159.203.164.103:7688/indexar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "texto",
              "value": "={{ $('Prepare Payload').item.json.texto }}"
            },
            {
              "name": "contexto",
              "value": "={{ $('Prepare Payload').item.json.contexto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-to-memgraph",
      "name": "Send to MemgraphRAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "onError": "continueErrorOutput",
      "settings": {
        "retryOnFail": true,
        "maxRetries": 3,
        "waitBetweenRetries": 5000
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "mix"
          },
          "conditions": [
            {
              "id": "check-lightrag-error",
              "leftValue": "={{ $('Send to LightRAG (Graphiti)').item.json.error }}",
              "rightValue": "",
              "operator": "isEmpty"
            },
            {
              "id": "check-memgraph-error",
              "leftValue": "={{ $('Send to MemgraphRAG').item.json.error }}",
              "rightValue": "",
              "operator": "isEmpty"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "If Ingestion Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "command": "=mkdir -p /vault/05_Fenomenos && mv \"{{ $('Prepare Payload').item.json.ruta_original }}\" \"/vault/05_Fenomenos/{{ $('Prepare Payload').item.json.contexto }}\""
      },
      "id": "archive-processed-file",
      "name": "Archive to 05_Fenomenos",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1460,
        180
      ]
    },
    {
      "parameters": {
        "command": "=mkdir -p /vault/Error_Ingesta && mv \"{{ $('Prepare Payload').item.json.ruta_original }}\" \"/vault/Error_Ingesta/{{ $('Prepare Payload').item.json.contexto }}\""
      },
      "id": "move-to-error-folder",
      "name": "Move to Error Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1460,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read Markdown File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Markdown File": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Send to LightRAG (Graphiti)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to LightRAG (Graphiti)": {
      "main": [
        [
          {
            "node": "Send to MemgraphRAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to MemgraphRAG": {
      "main": [
        [
          {
            "node": "If Ingestion Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Ingestion Successful?": {
      "main": [
        [
          {
            "node": "Archive to 05_Fenomenos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Error Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "f7d750fa-a20c-4395-9279-d5c80dbb54c9",
  "id": "b1Mtk62c9zD09Xy6",
  "meta": {
    "instanceId": "8b9e4a3b1d1f053cb37ebba8b4a0f4a8607106428d0859c7f2ef0fb54db7f7b4"
  },
  "tags": []
}
